* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.header {
  background: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px;
}

.header_flex,
.footer_flex,
.about,
.subscribe,
.plan_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_li {
  display: inline-block;
}

.nav_li:not(:first-of-type) {
  margin-left: 49px;
}

.nav_link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  text-decoration: none;
}

.nav_link:hover {
  color: #19191b;
  transition: 0.3s;
}

.button {
  width: 212px;
  height: 60px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn_1 {
  background: #ff7143;
}

.btn_1:hover {
  background: #ff7100;
  transition: 0.4s;
}

/* Main */

.about {
  margin: 104px auto 85px;
}

.hero_title {
  max-width: 467px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
  margin-bottom: 30px;
}

.hero_text {
  max-width: 465px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  margin-bottom: 50px;
}

.btn_2 {
  background: #5454d4;
}

.btn_3 {
  color: #5454d4;
  background: #ffffff;
  border: 1px solid #5454d4;
  margin-left: 35px;
}

/* Block 2 */
.subscribe_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191b;
  margin-bottom: 38px;
}

.subscribe {
  margin-bottom: 85px;
}

.input {
  width: 302px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #5454d4;
  padding-left: 14px;
  box-sizing: border-box;
  margin-right: 39px;
}
.input:focus {
  outline: none;
}

.input::placeholder,
.input {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}

.future_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191b;
}

/* Block 3 */

.plan {
  margin-bottom: 132px;
}

.future_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191b;
  max-width: 504px;
  margin-bottom: 110px;
}

.plan_flex {
  
}

.item {
  width: 330px;
  background: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  padding: 34px 0 27px;
}

.item:hover {
  transition: 0.5s;
  background: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  border-radius: 10px;
}

.item:hover .premium_text,
.item:hover .prise_title,
.item:hover .item_li,
.item:hover .prise_title span {
  color: #ffffff;
  transition: 0.5s;
}

.premium_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.562737px;
  color: #696871;
}

.prise_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  color: #1d293f;
}

.prise_title span {
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  color: #1d293f;
}

.item_li {
  list-style: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #696871;
}

.button_item {
  width: 285px;
  background: white;
  color: #5454d4;
  margin-top: 36px;
  border: none;
}

.item:hover .button_item {
  background: #9f3919;
  color: #ffffff;
  transition: 0.5s;
}

/* Footer */

.footer {
  background: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px;
}
